---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/footer.astro'
---

<Layout title="About">
  <div class="flex max-h-full max-w-full flex-col items-center px-5 py-44">
    <h1 class="mb-20 text-center text-4xl font-bold">About</h1>
    <p class="text-center text-lg" id="about_1">
      <span id="element"></span>
    </p>
    <!-- Footer -->
  </div>
</Layout>

<script>
  import Typed from 'typed.js'
  const typed = new Typed('#element', {
    strings: [
      'This is a list of git commands that I use in my daily work. I\'m not a git expert, so I\'m open to suggestions and improvements<br> if you have any suggestions or improvements, please feel free to open an issue on <a  class=" text-purple-700 hover:underline" href="https://github.com/vicenteroa/git-commands" target="_blank">GitHub</a>.<br> If you want to contribute, you can fork the repository and send a pull request.',
    ],
    loop: false,
    typeSpeed: 16,
  })
</script>
