---
import Layout from '../layouts/Layout.astro'
import Selector from '../components/selector.astro'
import Timeline from '../components/timeline.astro'
import Footer from '../components/footer.astro'
---

<Layout title="Git Commands">
  <div
    class="flex max-h-full max-w-full flex-col items-center px-5 py-10 sm:w-screen lg:w-screen xl:w-screen"
  >
    <Selector />
    <Timeline />
    <Footer />
  </div>
</Layout>
