---
import Icono from '../../public/favicon.svg'
---

<header class="mx-auto flex w-[1120px] items-center justify-between py-3">
  <a href="/">
    <h1 class="flex px-4 py-2 text-3xl font-bold">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-direction-sign"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3.32 12.774l7.906 7.905c.427 .428 1.12 .428 1.548 0l7.905 -7.905a1.095 1.095 0 0 0 0 -1.548l-7.905 -7.905a1.095 1.095 0 0 0 -1.548 0l-7.905 7.905a1.095 1.095 0 0 0 0 1.548z"
        ></path><path d="M8 12h7.5"></path><path d="M12 8.5l3.5 3.5l-3.5 3.5"></path></svg
      > Git Commands<span class="flex px-4 py-2 text-sm font-light text-purple-500"
        >Alpha Version</span
      >
    </h1></a
  >

  <nav class="flex flex-row gap-x-10">
    <a href="https://github.com/vicenteroa/Git-Commands"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
        ></path></svg
      ></a
    >
    <a href=""></a>
  </nav>
</header>
