<div class="flex justify-center items-center h-screen">   
    <select class="form-select" aria-placeholder="Seleccione una opci贸n">
        <option value="opcion1">Opci贸n 1</option>
        <option value="opcion2">Opci贸n 2</option>
        <option value="opcion3">Opci贸n 3</option>
    </select>
</div>

<style>
    .form-select {
        border-radius: 3vh;
        width: 80vh;
        height: 4vh;
        margin-top: -30vh;
    }
</style>
